<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Duration</th>
          <th>Date Added</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.videos.order(created_at: :desc).each do |video| %>
          <tr>
            <td><%= video.title %></td>
            <td><%= youtube_time(video.duration) %></td>
            <td><%= video.created_at.to_formatted_s(:db) %></td>
            <td><%= link_to "Edit", edit_video_path(video)%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

