<div class="text-white embedded-signup container">
  <h5><%= @video.title %></h5>

  <p>Premium Video. Sign up with Browzable to view</p>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary", target: "blank", ref: @video.id %>
   &nbsp;Or&nbsp;  
   <%= link_to "Log in", new_user_session_path, class: "btn btn-primary", target: "blank" %>
</div>


<script>
  body = document.querySelector("body");
  body.classList.add("landing-bg");
</script>



