<%= content_tag :div, "", class: "browzable-wrapper iframe-wrapper", 
    data: { url: @video.clip.url, video_id: @video.id },
    style: "width: 100%; height: 100%;" do %>
  <div id="browzable-video"></div>
<% end %>
<div class="minutes-balance">
  <span class="balance-span">Browzable <%= link_to number_to_human(current_user.account.balance / 60), 
    root_path, class: "icon-link" %></span>
</div>
<script type="text/javaScript">
  document.querySelector("body").setAttribute("id", "embed-body");
  var wrapper = document.querySelector(".browzable-wrapper");
  var url = wrapper.dataset.url;
  var videoId = wrapper.dataset.videoId;
  var playerInstance = jwplayer("browzable-video");
  var email = $(".minutes-balance");
  var playDuration = 10;

  playerInstance.setup({
      file: url
  });

  // Embed JWplayer

  jwplayer().on('ready', function() {
    $(".jw-spacer").addClass("br-info")
    $(".br-info").append(email);
    email.show();
  });

  //inaccurate timekeeping

  var counter = 0;
  var prevPosition = 0;

  jwplayer().on('time', function(time) {
    counter += time.position - prevPosition;
    console.log(counter);
    prevPosition = time.position;
    if (counter > playDuration) {
      sendPlay();
      counter -= playDuration;
    }
  });

  jwplayer().on('seeked', function() {
    counter = 0;
  })

  //post to server

  function sendPlay() {
    var playData = { play: {video_id: videoId, duration: playDuration} }
    console.log(playData);
    var request = $.ajax({
      url: "/plays",
      method: "POST",
      data: playData,
      dataType: "html"
    });

    request.done(function( msg ) {
      console.log(msg);
    });
  }

  var video = document.querySelector("video");
  // video.setAttribute("style", "width: 800px;")
</script>
  