<%= render 'layouts/nav' %>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Thank you!</h4>
      <p>Refresh the page you came from and you will now be able to watch your video. You can view your new minutes balance at the top left of this page, and in your video player as well.</p>
    </div>
  </div>
</div>