/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";
@import "font-awesome";

.br-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  margin: 1em;
  
  // clickable card
  span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
  }
}

.user-link {
  position: relative;
  z-index: 10
}

.br-card-link {
  &:hover {
    text-decoration: none;
  }
}

.br-card-title {
  color: black;
  font-size: 1.2em;
  font-weight: 500;
  &:hover {
    color: black;
  }
}

.br-card-subtitle {
  font-weight: 400;

}

.br-card-body {
  padding-top: 0.75em;

}

.btn-square {
  border-radius: 0;
}

.input-square {
  border-radius: 0;
}

#browzable-video {
  width: 100% !important;
  height: 100% !important;
}

#embed-body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

input[type='file'] {
  color: transparent;
}

.minutes-balance {
  color: white;
  display: none;
}

.br-info {
  display: flex !important;
  align-self: center !important;
  justify-content: flex-end;
}

.balance-span {
  margin-right: 0px;
}

.icon-link {
  color: white;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.embedded-signup {
  height: 100%;
  width: 100%;
}

.landing-bg {
  background: url("jw_black.png");
  background-repeat:no-repeat;
  background-size:cover;
}

.signup-header {
  text-align: center;
}

.browzable-brand {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.br-icon {
  color: black;
  font-size: 1.2em;
  &:hover {
    text-decoration: none;
    color: black;
  }
  margin-right: 2px;
}

.br-balance {
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}








