/*
*= require_tree .
*= require_self
*/

@import "bootstrap";
@import "font-awesome";

html {
  position: relative;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  margin-bottom: 60px;
}

.iframe-redirect-root {
  position: relative;
}

.share-link {
  float: right;
}

.card {
  height: 100%;
}

.alert-notice {
  @extend .alert-info;
}

#error_explanation {
  h2 {
    @extend h4;
    @extend .alert;
    @extend .alert-danger;
  }
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;

}

.footer-links {
  margin-bottom: 0px; //ul has bottom margin that causes vertical scroll
}

.footer-links li {
  display: inline-block;
  margin-left: 1rem;
}

.footer-link {
  color: rgba(0, 0, 0, 0.5);
  &:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }
}

#navbarDropdown {
  cursor: pointer;
}


.br-card {

  display: flex;
  flex-direction: column;
  border: none;
  margin: 1em;

  img {

    width: 100%;
  }
}

// clickable card

.preview-group {
  position: relative;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 2s linear infinite;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
}

.preview-loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 5em;
  height: 5em;
  animation: spin 2s linear infinite;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 1rem;
  left: 4rem;
  z-index: 2;
  display: none;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn-square {
  border-radius: 0;
}

.input-square {
  border-radius: 0;
}

input[type='file'] {
  color: transparent;
}

.br-info {
  display: flex !important;
  align-self: center !important;
  justify-content: flex-end;
}

@media (max-width: 576px) {

  .link-container {
    font-size: .75rem;
  }

  .link-container img {
    width: 74px;
    height: 18px;
  }

  .navbar {
    padding-right: 5px;
    padding-left: 5px;
  }
  .br-logo {
    width: 97.5px;
    height: 24px;
  }
}

.icon-link {
  color: white;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.browzable-brand {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.br-icon {
  color: black;
  font-size: 1.2em;
  &:hover {
    text-decoration: none;
    color: black;
  }
  margin-right: 2px;
}

.br-balance {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.dot-separator {
  margin-right: .2em;
  margin-left: .2em;
}

.cloudinary-fileupload {
  display: none;
}

.btn-link {
  cursor: pointer;
}

.custom-file-upload {
  @extend .btn;
  @extend .btn-primary;
}

.custom-file-upload-lg {
  @extend .btn-lg;
}

.btn {
  z-index: 10;
}

#search-input {
  width: 20em;
}

.search-control:focus {
  box-shadow: none;
}






