.jumbotron {
  padding: 2rem;
  background-color: #00d1b2;
}

.lead-text {
  font-size: 1.5rem;
}

.bg-green {
  background-color: #00d1b2;
}

.sales-card {
  background-color: #effeff;
}

.home-title {
  font-weight: bold;
  font-size: 49px !important;
  color: #ffffff;
}

.home-subtitle {
  font-weight: 250;
  font-size: 25px !important;
  line-height: 49px !important;
  margin-top: 15px;
  margin-bottom: 25px !important;
  color: #ffffff;
}

.signup-header {
  text-align: center;
}
