@import "bootstrap";
@import "font-awesome";

.profile-pic {
  margin-bottom: 1em;
  position: relative;
}

.profile-card {
 display: flex;
 flex-direction: column;
 align-items: center;
//   justify-content: center; 
}

.profile-header-row {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.edit-profile-row {
  display: flex;
  justify-content: center;
}

.edit-profile-card {

}

.profile-save {
  display: none;
}

.library-table tbody {
  cursor: pointer;
}

.library-table tbody tr:hover { 
  @extend .bg-light;
}