.video-time {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  font-weight: bold;
  z-index: 1;
}

.uploader-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.clickable {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.user-link {
  position: relative;
  z-index: 2;
}

.br-card-img-link {
  position: relative;
}

.br-card-link {
  &:hover {
    text-decoration: none;
  }
}

.br-card a:hover {
  color: black;
}

.movie-col {
  padding: 0.5em;
}

.br-card-title {
  color: black;
  font-size: 1.2em;
  font-weight: 500;
  &:hover {
    color: black;
  }
}

.br-card-subtitle {
  font-weight: 400;

}

.br-card-body {
  position: relative;
  padding-top: 0.75em;

}

.video-upload {
  display: none;
}

.user-info img {
  width: 25px;
  height: 25px;
}


.video-background {
  opacity: .2;
  background-repeat:no-repeat;
  background-size:cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}


.link-container {
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 1em;
  img {
    margin-bottom: .3em;
  }
}

.minutes-balance {
  height: 44px;
  display: none;
}


.video-info-container {
  padding: 1.25em;
  display: none;
}


#browzable-video {
  width: 100% !important;
  height: 100% !important;
}

.divider-player {
  margin-right: .3em;
  margin-left: .3em;
}

#continue {
  display: none;
}

.embed-code-container {
  padding: 15px;
}

.movie-card {
  border: none;
  img {
    width: 100%;
  }
  margin-bottom: 5px;
}

.movies-row {
  margin-top: 1em;
  margin-bottom: 1em;
}

.movie-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: '';
  margin-bottom: 5px;
  padding: 0;
  font-size: 0.8em;
  color: #006400;
  font-weight: bold;
}

.popover-title { 
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: .2rem;

}

