<script src="https://js.braintreegateway.com/web/dropin/1.8.0/js/dropin.min.js"></script>


<div class="row mt-3">
  <div class="col-md-6 m-auto">
    <h2>Buy 1,000 minutes for $10</h4>
    <div class="card mt-3 bg-info text-white">
      <div class="card-body">
        Browzable minutes let you stream any Browzable video. Minutes are valid for a full year.
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 m-auto">
    <div id="dropin-container"></div>
    <%= form_with model: Charge.new, id: "charge-form", local: true do |form| %>
      <%= hidden_field_tag 'nonce' %>
      <button type="button" id="submit-button" class="btn btn-primary">Pay $10</button>
    <% end %>
  </div>
</div>

<script>
  var button = document.querySelector('#submit-button');

  braintree.dropin.create({
    authorization: "<%= @client_token %>",
    container: '#dropin-container'
  }, function (createErr, instance) {
    button.addEventListener('click', function () {
      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log(err);
        } else {
          $("input[name='nonce']").val(payload.nonce);
          $("#charge-form").submit();
        }
      });
    });
  });
</script>