<footer class="footer text-muted">
  <div class="container">
    <ul class="footer-links">
      <li><%= link_to "About", "/about" %></li>
      <li><%= link_to "Contact", "/contact" %></li>
      <li><%= link_to "Privacy", "/privacy" %></li>
      <li><%= link_to "Terms", "/terms" %></li>
    </ul>
  </div>
  
</footer>